TodoApi/bin/
TodoApi/obj/
node_modules/

TodoApi/appsettings.json
TodoApi/bin/Debug/net6.0/appsettings.Development.json
TodoApi/bin/Debug/net6.0/appsettings.json
TodoApi/bin/Debug/net6.0/JsonSubTypes.dll
TodoApi/bin/Debug/net6.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
TodoApi/bin/Debug/net6.0/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
TodoApi/bin/Debug/net6.0/Microsoft.Extensions.Configuration.dll
TodoApi/bin/Debug/net6.0/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
TodoApi/bin/Debug/net6.0/Microsoft.IdentityModel.Abstractions.dll
TodoApi/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
TodoApi/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
TodoApi/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
TodoApi/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
TodoApi/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
TodoApi/bin/Debug/net6.0/Microsoft.OpenApi.dll
TodoApi/bin/Debug/net6.0/Newtonsoft.Json.dll
TodoApi/bin/Debug/net6.0/Okta.AspNet.Abstractions.dll
TodoApi/bin/Debug/net6.0/Okta.AspNetCore.dll
TodoApi/bin/Debug/net6.0/Okta.Sdk.Abstractions.dll
TodoApi/bin/Debug/net6.0/Okta.Sdk.dll
TodoApi/bin/Debug/net6.0/Polly.dll
TodoApi/bin/Debug/net6.0/RestSharp.dll
TodoApi/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
TodoApi/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
TodoApi/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
TodoApi/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
TodoApi/bin/Debug/net6.0/System.Interactive.Async.dll
TodoApi/bin/Debug/net6.0/System.Linq.Async.dll
TodoApi/bin/Debug/net6.0/TodoApi
TodoApi/bin/Debug/net6.0/TodoApi.deps.json
TodoApi/bin/Debug/net6.0/TodoApi.dll
TodoApi/bin/Debug/net6.0/TodoApi.pdb
TodoApi/bin/Debug/net6.0/TodoApi.runtimeconfig.json
TodoApi/bin/Debug/net6.0/YamlDotNet.dll
