<ng-container *ngIf="(isAuthenticated$ | async) === false; else signout">
  <button (click)="signIn()"> Sign in </button>
</ng-container>

<ng-template #signout>
  <button (click)="signOut()">Sign out</button>
</ng-template>


<div class="row">
  <div class="col-md-12"><button (click)="Compare()">Compare</button></div>
  <div class="row">
  {{array1}}
</div>
    
  
  <div class="row">
    {{array2}}
  </div>
  <div class="row">
    <span style="color: red">{{result}}</span>
  </div>

  <!-- <div class="col-md-12">
    <div *ngFor="let item of result">
    
      <span style="color: red">{{item}}</span>
    </div>
  </div> -->
  
</div>

<app-profile></app-profile>
<!-- <app-login></app-login> -->
<div class="container">
<app-meet-grid 
style="width: 100%; height: 100%"
   class="ag-theme-alpine"
[rowData]="yourRowData"
[columnDefs]="yourColumnDefs"
(rowClick)="onRowClick($event)"></app-meet-grid>
</div>
