<!-- login.component.html -->
<div class="login-container">
    <h2>Login</h2>
  
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" required>
       
      </div>
  
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" required>
        <!-- <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
          <span *ngIf="password.errors.required">Password is required.</span>
        </div> -->
      </div>
  
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
  
    <div class="divider">
      <hr>
      <span>or</span>
      <hr>
    </div>
  
    <div class="external-login-options">
      <button (click)="externalLogin('okta')">Login with Okta</button>
      <button (click)="externalLogin('azure')">Login with Azure</button>
      <!-- Add more external login options as needed -->
    </div>
  </div>
  